<!DOCTYPE html>
<html lang="fr" data-theme="desk">

<head>
	{% load tailwind_tags %}
	{% load static %}
	<title>{% block title %}GRH – Gestion des Ressources Humaines{% endblock %}</title>
	<meta name="description" content="Plateforme GRH complète pour la gestion des employés, présences et recrutements. Simplifiez la gestion du personnel et suivez les performances en temps réel.">
	<meta name="keywords" content="GRH, Ressources Humaines, recrutement, présence, gestion employés, RH, parinari grh">
	<meta name="robots" content="index, follow">

	<meta charset=" UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
	<link rel="stylesheet" href="{% static 'toastjs/Toast.min.css' %}">
	<script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
	<script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
	<script src="{% static 'fontawesomefree/js/brands.js' %}"></script>

	{% tailwind_css %}
	<script>
		(function () {
			const theme = document.cookie.split('; ').find(row => row.startsWith('theme='));
			if (theme) {
				document.documentElement.setAttribute('data-theme', decodeURIComponent(theme.split('=')[1]));
			}
		})();
	</script>


</head>

<body class="bg-base-100 dark:text-white font-serif leading-normal tracking-normal min-h-screen text-slate-950">
	{% include 'header.html' %}
	{% block main %}{% endblock main %}
	<script src='{% static "jquery\jquery.min.js" %}'></script>
	<script src='{% static "chart.umd.js" %}'></script>
	<script src='{% static "sweetalert2\sweetalert2.all.min.js" %}'></script>
	<script src='{% static "toastjs/Toast.min.js" %}'></script>
	<script src='{% static "flowbite/flowbite.min.js" %}'></script>
	{% block scripts %}
	{% endblock scripts %}
</body>

</html>