{% extends 'base.html' %}


{% block main %}
    <div class="glass p-6 rounded shadow-md mx-auto w-full max-w-2xl">
        <h1 class="text-2xl font-bold mb-4">Supprimer un paiement</h1>
        <p>Êtes-vous sûr de vouloir supprimer ce paiement ? Cette action est irréversible.</p>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-error btn-outline btn-sm btn-ghost">Supprimer</button>
            <a href="{% url 'salary_list' %}" class="btn btn-outline btn-secondary btn-ghost btn-sm ml-2">Annuler</a>
        </form>
    </div>
{% endblock main %}