{% extends 'base.html' %}


{% block main %}
<div class="glass p-6 rounded shadow-md mx-auto w-full md:w-3/4 lg:w-1/2 overflow-auto">
    <h1 class="text-2xl font-bold mb-4">
        <span>Liste des Salaire</span>
        <a href="{% url 'salary_create' %}" class="btn btn-info btn-outline btn-ghost btn-sm">Fixer un salaire</a>

    </h1>
    <table class="table w-full">
        <thead>
            <tr>
                <th>Employé</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for paiment in paiments %}
            <tr>
                <td>{{ paiment.employee.user }}</td>
                <td>{{ paiment.amount }}</td>
                <td>
                    <div class="dropdown">
                        <button tabindex="0" class="btn btn-ghost btn-outline btn-info btn-sm">
                            Actions
                        </button>
                        <ul tabindex="0"
                            class="dropdown-content gap-2 menu p-2 shadow bg-base-100 flex-col rounded-box w-24 glass">
                            {% if 'comptabilite.delete_paiment' in permissions %}
                            <li>
                                <a href="{% url 'salary_delete' paiment.pk %}"
                                    class="btn btn-sm btn-error btn-outline btn-ghost">
                                    <i class="fas fa-trash text-black dark:text-white "></i>
                                    <span>Supprimer</span></a>
                            </li>
                            {% endif %}
                            {% if 'comptabilite.change_paiment' in permissions %}
                            <li>
                                <a href="{% url 'salary_update' paiment.pk %}"
                                    class="btn btn-sm btn-warning btn-outline btn-ghost">
                                    <i class="fas fa-edit text-black dark:text-white "></i>
                                    <sapn>Modifier</sapn>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucun paiement trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <div class="mt-4 flex justify-center space-x-2">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"
            class="btn btn-outline btn-sm btn-ghost btn-info">Précédent</a>
        {% endif %}

        <span class="btn btn-outline btn-sm">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline btn-sm btn-ghost btn-error">Suivant</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock main %}