{% extends 'base.html' %}


{% block main %}

<div class="w-full p-2 md:p-4 glass text-black dark:text-white">
    <form class="p-2 w-full space-y-2">
        <div class="flex items-center space-x-2">
            <form class="p-2 w-full space-y-2">
                <select name="user" class="select select-primary w-full max-w-xs">
                    <option disabled selected>Select a user</option>
                </select>
                <form class="p-2 w-full space-y-2">
                    <span id="userspinner" class="loading loading-spinner loading-xs hidden"></span>
        </div>
    </form>
    <div class="p-2 w-full space-x-2 grid md:grid-cols-2 md:space-y-2">
        <div data-group-id="allperm"
            class="grid grid-cols-1 gap-2 lg:grid-cols-2 border-2 border-dashed border-gray-400 rounded-xl p-4 shadow-md space-x-2 space-y-2">

            <div class="col-span-2 flex items-center justify-between space-y-2">
                <h2 class="font-semibold 0 mb-3 col-span-2">All permissions</h2>
                <button class="btn btn-outline btn-sm btn-info btn-ghost" id="addperms">
                    <i class="fa fa-plus"></i><span> Ajouter les permissions</span></label>
                </button>
            </div>

            <span id="spinner-allperm" class="loading loading-spinner loading-lg"></span>
        </div>
        <!-- Groupe 2 -->

        <div class="w-full border-2 border-dashed border-gray-400 rounded-xl p-4 shadow-md space-x-2 space-y-2">

            <div class="col-span-2 flex items-center justify-between">
                <h2 class="font-semibold 0 mb-3">User permissions</h2>
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-sm btn-outline btn-info btn-ghost m-1"><i
                            class="fa fa-minus"></i><span> Retirer les permissions</span></label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li>

                            <button id="removeallperms" class="btn btn-outline btn-sm btn-info btn-ghost">
                                Toutes les permissions
                            </button>
                        </li>
                        <li>
                            <button id="removeperms" class="btn btn-outline btn-sm btn-info btn-ghost">
                                Permissions Selectionées
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-group-id="userperm" class="space-y-2 w-full flex flex-col items-center">

            </div>
            <div class="text-center"><span id="spinner-userperm" class="loading loading-spinner loading-lg hidden"></span></div>
        </div>
    </div>
</div>

{% endblock main %}

{% block scripts %}
<script>
    $(document).ready(function () {

        $('#addperms').on('click', function (e) {

                var userId = $('select[name="user"]').val();
                if (!userId) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Please select a user first',
                        icon: 'error'
                    });
                    return;
                }

                // Get selected permissions
                var selectedPermissions = [];
                $('input[name="permissions-to-add"]:checked').each(function () {
                    selectedPermissions.push($(this).val());
                });

                // Confirm and submit
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you want to add these permissions?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '{% url "add_permissions" %}',
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            data: {
                                user_id: userId,
                                permissions: selectedPermissions
                            },
                            success: function (response) {
                                Swal.fire('Success', 'Permissions added successfully', 'success');
                            },
                            error: function (error) {
                                Swal.fire('Error', error.responseJSON.error, 'error');
                            }
                        });
                    }
                });
        })

        $('#removeallperms').on('click', function (e) {
            e.preventDefault();
            var userId = $('select[name="user"]').val();
            if (!userId) {
                Swal.fire({
                    title: 'Error',
                    text: 'Please select a user first',
                    icon: 'error'
                });
                return;
            }
            // Confirm and submit
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to remove all permissions?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{% url "remove_all_user_permissions" %}',
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            user_id: userId
                        },
                        success: function (response) {
                            Swal.fire('Success', 'All permissions removed successfully', 'success');
                            // Clear user permissions display
                            $('[data-group-id="userperm"]').find('.permission-item').remove();
                        },
                        error: function (error) {
                            Swal.fire('Error', error.responseJSON.error, 'error');
                        }
                    });
                }
            });
        });
        $('#removeperms').on('click', function (e) {
            e.preventDefault();
            var userId = $('select[name="user"]').val();
            if (!userId) {
                Swal.fire({
                    title: 'Error',
                    text: 'Please select a user first',
                    icon: 'error'
                });
                return;
            }
            // Get selected permissions
             var selectedPermissions = [];
                $('input[name="permissions-to-remove"]:checked').each(function () {
                    selectedPermissions.push($(this).val());
                });

            if (selectedPermissions.length === 0) {
                Swal.fire({
                    title: 'Error',
                    text: 'Please select at least one permission to remove',
                    icon: 'error'
                });
                return;
            }

            // Confirm and submit
            Swal.fire({
                title: 'Are you sure?',
                text: 'Do you want to remove the selected permissions?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '{% url "remove_user_permissions" %}',
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        data: {
                            user_id: userId,
                            permissions: selectedPermissions
                        },
                        success: function (response) {
                            Swal.fire('Success', 'Selected permissions removed successfully', 'success');
                            // Remove selected permissions from display
                            selectedPermissions.forEach(function (permId) {
                                $('[data-group-id="userperm"]').find(`[data-item-id="${permId}"]`).remove();
                            });
                        },
                        error: function (error) {
                            Swal.fire('Error', error.responseJSON.error, 'error');
                        }
                    });
                }
            });
        });
        function fetchAllPermissions() {
            $('#userspinner').removeClass('hidden');
            $.ajax({
                url: '{% url "get_perms" %}',
                method: 'GET',
                success: function (data) {
                    var allPermsDiv = $('[data-group-id="allperm"]');
                    //clear existing permissions
                    allPermsDiv.find('input').remove();
                    data.permissions.forEach(function (perm) {
                        var permDiv = $('<input>')
                            .attr('type', 'checkbox')
                            .attr('id', perm.id)
                            .attr('name', 'permissions-to-add')
                            .attr('class', 'btn btn-wide btn-sm')
                            .attr('aria-label', perm.name)
                            .attr('value', perm.id);
                        allPermsDiv.append(permDiv);
                    });
                    $('#spinner-allperm').addClass('hidden');
                },
                error: function () {
                    alert('Error fetching permissions.');
                }
            });
        }

        function fetchUsers() {
            $.ajax({
                url: '{% url "get_users" %}',
                method: 'GET',
                success: function (data) {
                    var userSelect = $('select[name="user"]');
                    data.users.forEach(function (user) {
                        var option = $('<option></option>')
                            .attr('value', user.id)
                            .text(user.username);
                        userSelect.append(option);
                    });
                    $('#userspinner').addClass('hidden');
                    $('#user-icon').removeClass('hidden');
                },
            });
        }

        // Call both functions when document is ready
        fetchAllPermissions();
        fetchUsers();
        $('select[name="user"]').on('change', function () {
            var userId = $(this).val();
            $('#spinner-userperm').removeClass('hidden')
            // Fetch user permissions via AJAX
            $.ajax({
                url: '{% url "get_user_permissions" %}',  // URL to fetch user permissions
                method: 'GET',
                data: { user_id: userId },
                success: function (data) {
                    // Clear current permissions
                    let datadiv= $('[data-group-id="userperm"]')
                    datadiv.empty();
                    if (data.error){
                        Toastify({
                            text: data.error,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            style: { background: "linear-gradient(to right, #B00000FF, #FF0000FF)" },
                            stopOnFocus: true,
                        }).showToast();
                        datadiv.append('<p class="text-red-600 font-semibold w-full text-center">No permissions to display</p>');
                    }else{
                        data.permissions.forEach(function (perm) {
                            var permDiv =  $('<input>')
                            .attr('type', 'checkbox')
                            .attr('name', 'permissions-to-remove')
                            .attr('id', perm.id)
                            .attr('class', 'btn btn-sm w-full')
                            .attr('aria-label', perm.name)
                            .attr('value', perm.id);
                            
                            datadiv.append(permDiv);
                        });
                    }
                    $('#spinner-userperm').addClass('hidden');
                },
                error: function () {
                    alert('Error fetching permissions.');
                    $('.loading').addClass('hidden');
                }
            });
        });
    });
</script>
{% endblock scripts %}