{% extends 'base.html' %}


{% block main %}

<div class="w-full p-2 md:p-4">
    <form class="p-2 w-full space-y-2">
        <div class="flex items-center space-x-2">
            <form class="p-2 w-full space-y-2">
                <select name="user" class="select select-primary w-full max-w-xs">
                    <option disabled selected>Select a user</option>
                </select>
                <form class="p-2 w-full space-y-2">
                    <span id="userspinner" class="loading loading-spinner loading-xs hidden"></span>
        </div>
    </form>
    <div class="p-2 w-full space-x-2 grid md:grid-cols-2 md:space-y-2">
        <div data-group-id="allperm"
            class="grid grid-cols-1 lg:grid-cols-2 border-2 border-dashed border-gray-400 rounded-xl p-4 bg-white shadow-md space-x-2 space-y-2">

           <div class="col-span-2 flex justify-between">
                <h2 class="font-semibold text-gray-700 mb-3 col-span-2">All permissions</h2>
                <div class="dropdown">
                  <label tabindex="0" class="btn btn-sm btn-outline btn-info btn-ghost m-1"><i class="fa fa-plus"></i><span> Ajouter les permissions</span></label>
                  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>Tous</li>
                    <li>
                        <button class="btn btn-outline btn-sm btn-info btn-ghost" onclick="addPerms()">
                        Selectionées
                    </button>
                </li>
                  </ul>
                </div>
           </div>

            <span id="spinner-allperm" class="loading loading-spinner loading-lg"></span>
        </div>
        <!-- Groupe 2 -->
        <div data-group-id="userperm"
            class="border-2 border-dashed border-gray-400 rounded-xl flex flex-col items-center justify-start p-4 bg-white shadow-md gap-2">

            <div class="col-span-2 flex justify-between">
                <h2 class="font-semibold text-gray-700 mb-3">User permissions</h2>
                <div class="dropdown">
                  <label tabindex="0" class="btn btn-sm btn-outline btn-info btn-ghost m-1"><i class="fa fa-minus"></i><span> Retirer les permissions</span></label>
                  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li>Toutes les permissions</li>
                    <li>
                        <button class="btn btn-outline btn-sm btn-info btn-ghost" >
                        Permissions Selectionées
                    </button>
                </li>
                  </ul>
                </div>
            </div>
            <span id="spinner-userperm" class="loading loading-spinner loading-lg hidden"></span>
        </div>
    </div>
</div>

{% endblock main %}

{% block scripts %}
<script>
    function addPerms() {

        var userId = $('select[name="user"]').val();
        if (!userId) {
            Swal.fire({
                title: 'Error',
                text: 'Please select a user first',
                icon: 'error'
            });
            return;
        }

        // Get selected permissions
        var selectedPermissions = [];
        $('input[name="permissions-to-add"]:checked').each(function() {
            selectedPermissions.push($(this).val());
        });

        // Confirm and submit
        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to add these permissions?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '{% url "add_permissions" %}',
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        user_id: userId,
                        permissions: selectedPermissions
                    },
                    success: function(response) {
                        Swal.fire('Success', 'Permissions added successfully', 'success');
                    },
                    error: function(error) {
                        Swal.fire('Error', error.responseJSON.error, 'error');
                    }
                });
            }
        });
    }
    $(document).ready(function () {
       
        function fetchAllPermissions() {
            $('#userspinner').removeClass('hidden');
            $.ajax({
                url: '{% url "get_perms" %}',
                method: 'GET',
                success: function (data) {
                    var allPermsDiv = $('[data-group-id="allperm"]');
                    data.permissions.forEach(function (perm) {
                        var permDiv = $('<input>')
                            .attr('type', 'checkbox')
                            .attr('id', perm.id)
                            .attr('name', 'permissions-to-add')
                            .attr('class', 'btn btn-wide btn-sm')
                            .attr('aria-label', perm.name)
                            .attr('value', perm.id);
                        allPermsDiv.append(permDiv);
                    });
                    $('#spinner-allperm').addClass('hidden');
                },
                error: function () {
                    alert('Error fetching permissions.');
                }
            });
        }

        function fetchUsers() {
            $.ajax({
                url: '{% url "get_users" %}',
                method: 'GET',
                success: function (data) {
                    var userSelect = $('select[name="user"]');
                    data.users.forEach(function (user) {
                        var option = $('<option></option>')
                            .attr('value', user.id)
                            .text(user.username);
                        userSelect.append(option);
                    });
                    $('#userspinner').addClass('hidden');
                    $('#user-icon').removeClass('hidden');
                },
            });
        }

        // Call both functions when document is ready
        fetchAllPermissions();
        fetchUsers();
        $('select[name="user"]').on('change', function () {
            var userId = $(this).val();
            $('#spinner-userperm').removeClass('hidden')
            // Fetch user permissions via AJAX
            $.ajax({
                url: '{% url "get_user_permissions" %}',  // URL to fetch user permissions
                method: 'GET',
                data: { user_id: userId },
                success: function (data) {
                    // Clear current permissions
                    $('[data-group-id="userperm"]').find('.permission-item').remove();
                    console.log(data);
                    //$('#spinner-userperm').Class('hidden')
                    data.permissions.forEach(function (perm) {
                        var permDiv = $('<div></div>')
                            .attr('id', perm.id)
                            .attr('data-item-id', perm.id)
                            .addClass('permission-item w-full bg-blue-500 text-white text-center py-2 rounded-lg shadow cursor-move hover:bg-blue-600 transition')
                            .text(perm.name);
                        $('[data-group-id="userperm"]').append(permDiv);
                    });
                    $('#spinner-userperm').addClass('hidden');
                },
                error: function () {
                    alert('Error fetching permissions.');
                    $('.loading').addClass('hidden');
                }
            });
        });
    });
</script>
<script>
    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        const itemId = event.target.dataset.itemId;
        const sourceGroup = event.target.closest(".group").dataset.groupId;

        // Ajouter un style visuel pendant le drag
        event.target.classList.add("scale-95", "opacity-70");

        // Stocker l'ID de l'item
        event.dataTransfer.setData("itemId", itemId);

        console.log(`Dragged item ${itemId} from ${sourceGroup}`);
    }

    function dragEnd(event) {
        // Retirer le style si drag annulé
        event.target.classList.remove("scale-95", "opacity-70");
    }

    function drop(event) {
        event.preventDefault();
        const itemId = event.dataTransfer.getData("itemId");

        const targetGroup = event.currentTarget.dataset.groupId;
        const item = document.getElementById(itemId);

        // Retirer le style visuel
        item.classList.remove("scale-95", "opacity-70");

        // Déplacer l'élément dans le groupe
        event.currentTarget.appendChild(item);

        console.log(`Dropped item ${itemId} in ${targetGroup}`);
    }
</script>
{% endblock scripts %}