{% load tailwind_tags %}
{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Site{% endblock %} </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
    <meta name="description" content="Gestion des user.Gestion du personnel et suivez les performances en temps réel.">
	<meta name="keywords" content="GRH, Ressources Humaines, recrutement, présence, gestion employés, RH">
	<meta name="robots" content="index, follow">
    {% tailwind_css %}
    <script>
        (function () {
            const theme = document.cookie.split('; ').find(row => row.startsWith('theme='));
            if (theme) {
                document.documentElement.setAttribute('data-theme', decodeURIComponent(theme.split('=')[1]));
            }
        })();
    </script>
</head>

<body class="bg-base-100 min-h-screen">
    {% block main %}
    {% endblock %}
</body>

</html>