{% extends 'users/base.html' %}
{% block title %}Changer mot de passe{% endblock %}

{% block main %}
<div class="w-4/5 mx-auto card items-center h-full justify-center">
    <form method="post" class="flex flex-col gap-4 text-slate-900 dark:text-white w-full md:w-1/2 font-bold glass p-4">
        <h1 class="text-xl text-center font-bold uppercase">Changer votre mot de passe</h1>

        {% csrf_token %}

        <!-- Username -->
        {% if form.username %}
        <div class="flex flex-col">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        {% endif %}

        <!-- Email -->
        {% if form.email %}
        <div class="flex flex-col">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        {% endif %}

        <!-- Ancien mot de passe -->
        <div class="flex flex-col">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.old_password.errors }}
        </div>

        <!-- Nouveau mot de passe -->
        <div class="flex flex-col">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.new_password1.help_text %}
            <p class="text-sm text-gray-500">{{ form.new_password1.help_text|safe }}</p>
            {% endif %}
            {{ form.new_password1.errors }}
        </div>

        <!-- Confirmer nouveau mot de passe -->
        <div class="flex flex-col">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </div>

        <div class="alert-horizontal">
                        {{ form.non_field_errors }}
        </div>

        <!-- Bouton submit -->
        <button type="submit" class="btn btn-info btn-outline btn-ghost btn-sm mt-2">Enregistrer</button>

        <!-- Messages Django -->
        {% comment %} {% if messages %} {% endcomment %}
        {% comment %} <div class="mt-2">
            {% for message in messages %}
            <p class="text-center text-sm {{ erro }} text-{{ message.tags }}{% else %}text-gray-700{% endif %}">{{ message }}</p>
            {% endfor %}
        </div> {% endcomment %}

        {% comment %} {% endif %} {% endcomment %}
        
        {% if error %}
            <div class="alert alert-error">
              <span>{{error}}</span>
            </div>
        {% endif %}
            
    </form>
</div>
{% endblock %}
