{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="w-full mx-auto glass shadow-md rounded p-6 md:w-3/4 overflow-x-auto">
    <h1 class="text-2xl font-bold dark:text-white">
        <span>Liste users</span>
        {% if "Users.add_user" in permissions %}
        <a class="btn btn-info btn-outline btn-ghost btn-xs" href="{% url 'register' %}">
            <i class="fas fa-plus text-black dark:text-white "></i>
        </a>
        {% endif %}
    </h1>

        <table class="table dark:text-white">
            <thead>
                <tr class="uppercase text-sm text-left font-bold text-black dark:text-white">
                    <th>Utilisateur</th>
                    <th>Email</th>
                    <th>Nom complet</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for person in users %}
                <tr>
                    <td>
                        <div class="flex items-center gap-3">
                            <!-- Statut de connexion en temps réel -->
                            <div
                                class="avatar {% if person.online %} avatar-online {% else %} avatar-offline {% endif %}">
                                <div class="mask mask-squircle w-12 h-12">
                                    <img src="{{ person.avatar.url }}" alt="{{ person.username }}" />
                                </div>
                            </div>
                            <div>
                                <div class="font-bold">
                                    {% if "users.view_user" in permissions %}
                                    <a href="{{ person.get_absolute_url }}" class="link">{{ person.username }}</a>
                                    {% else %}
                                    {{ person.username }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>{{ person.email }}</td>
                    <td>{{ person.get_full_name }}</td>
                    <!-- Statut user.is_active -->
                    <td>
                        {% if person.is_active %}
                        <span class="badge badge-success gap-2">Actif</span>
                        {% else %}
                        <span class="badge badge-error gap-2">Inactif</span>
                        {% endif %}
                    </td>

                    <td>
                        <div class="dropdown dropdown-left">
                            <div tabindex="0" role="button" class="btn btn-sm btn-outline btn-info">Actions</div>
                            <ul tabindex="0"
                                class="dropdown-content gap-2 z-10 menu p-2 shadow bg-base-100 rounded-box w-32 glass">
                                {% if "Users.view_user" in permissions %}
                                <li><a class="btn btn-info btn-ghost btn-outline btn-sm"
                                        href="{% url 'userDetail' person.pk %}">
                                        <i class="fas fa-info text-black dark:text-white "></i>
                                        <span>Détail</span>
                                    </a>
                                </li>
                                {% endif %}
                                {% if "Users.change_user" in permissions %}
                                <li><a class="btn btn-warning btn-sm btn-outline btn-ghost"
                                        href="{% url 'userEdit' person.pk %}">
                                        <i class="fas fa-edit text-black dark:text-white "></i>
                                        <span>Modifier</span></a>
                                </li>
                                {% endif %}
                                {% if "Users.delete_user" in permissions %}
                                <li><a class="btn btn-error btn-sm btn-outline btn-ghost"
                                        href="{% url 'userDelete' person.pk %}">
                                        <i class="fas fa-trash text-black dark:text-white "></i>
                                        <span>Supprimer</span>
                                    </a></li>
                                {% endif %}
                                {% if "Users.change_user" in permissions %}
                                <li>
                                    <a href="{% url 'toggle_user_active' person.pk %}">
                                        {% if person.is_active %}
                                        <button type="submit" class="btn btn-sm btn-outline btn-error btn-ghost">
                                            <i class="fas fa-user-slash text-black dark:text-white "></i>
                                            <span>Désactiver</span>
                                        </button>
                                        {% else %}
                                        <button type="submit" class="btn btn-sm btn-outline btn-success btn-ghost">
                                            <i class="fas fa-user-check text-black dark:text-white "></i>
                                            <span>Activer</span>
                                        </button>
                                        {% endif %}
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-red-500 text-lg py-4">Aucun employé trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

 {% if messages %}
 {% for message in messages %}
 <div class="toast toast-start toast-middle">
    
    {% if message.tags == "success" %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% elif message.tags = "error" %}
    <div class="alert alert-error">
        {{ message }}
    </div>
    {% endif %}
        </div>
        {% endfor %}
{% endif %}

    {% if is_paginated %}
    <div class="mt-6 flex justify-center space-x-2">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-info btn-outline">← Précédent</a>
        {% endif %}
        <span class="btn btn-sm">Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-error btn-outline">Suivant →</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}


