{% extends 'users/base.html' %}
{% block title %}
Login
{% endblock %}
{% block main %}
<div class="w-4/5 mx-auto card items-center h-full justify-center">
    <form class="text-slate-900 flex flex-col gap-2 dark:text-white w-full md:w-1/2 font-bold glass p-2" method="post">
        <h1 class="text-xl text-red-700 font-bold block w-full text-center">LOGIN NOW</h1>
    {% csrf_token %}
    {{form}}
    {% if error %}  
    <p class="empty:sr-only text-red-600 w-full text-center text-sm font-semibold  my-3 p-1 rounded-sm">{{error}}</p>
    {% endif %}
    <input class="btn btn-info btn-outline btn-ghost" type="submit" value="Login">
</form>
</>
{% endblock %}