{% extends 'users/base.html' %}
{% block title %}
Regitration
{% endblock %}
{% block main %}
<div class="w-full h-full flex items-center align-middle">
    <form class="container w-4/5 mx-auto border border-solid border-white p-3 bg-white/10 lg:w-3/5" method="post" enctype="multipart/form-data"">
        <h1 class="text-xl text-red-700 font-bold block w-full text-center">REGISTER NOW</h1> 
        {% csrf_token %}
        {{form.as_p}}
        <input class="ring-1 ring-blue-950 bg-blue-700 rounded-md my-3 p-1 hover:bg-blue-900 hover:ring-4" type="submit" value="Register">
         <a class="text-zinc-200 underline decoration-white font-bold hover:text-red-500 hover:decoration-red-600 hover:transition-colors" href="{% url 'login' %}">Login</a>
    </form>
</div>
{% endblock %}