{% extends 'base.html' %}
{% block title %}
Modification
{% endblock %}
{% block main %}

<form class="w-3/5 p-1 mt-10 mx-auto card glass text-black dark:text-white" method="post" enctype="multipart/form-data"">
        <h1 class=" text-xl text-red-700 font-bold block w-full text-center">Edition</h1>
    {% csrf_token %}
    {{form.as_div}}
    {% if error %}
    <p class="alert alert-horizontal alert-error">
        {{error}}
    </p>
    {% endif %}
    <input class="btn btn-outline btn-sm w-full btn-ghost my-1.5" type="submit" value="Modifier" />
</form>

{% endblock %}