{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="glass p-6 rounded shadow-md mx-auto w-full max-w-2xl">
    <h1 class="text-xl md:text-2xl font-bold mb-4 ">Don de prime</h1>
    <form method="post" class="dark:text-black">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-outline btn-sm btn-ghost">
    </form>
</div>
<div class="flex justify-center mt-4">
    <a href="{% url 'bonus_list' %}" class="btn btn-primary">Retour à la liste des paiment</a>
</div>
{% endblock main %}