{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block main %}
<div class="glas p-6 rounded  mx-auto w-full max-w-2xl shadow-gray-800 shadow-md ">
    <p class="text-red-600 font-bold text-3xl text-center uppercase bg-white">Supprimer</p>
    <p class=" font-bold text-slate-950 uppercase text-xl mb-2 bg-slate-600 p-2 text-center">{{ object.user.username }}
    </p>
    <p class="text-slate-950 font-bold">
        <span class="text-xl font-semibold text-red-600">Cree: </span> {{ object.created_at|naturaltime }}
        <span class="text-xl font-semibold text-red-600">Last login: </span> {{ object.user.last_login|naturaltime }}
    </p>
    <p class="text-slate-950 font-bold"> Voulez-vous Supprimer l' employee: <span
            class="text-red-600 underline underline-offset-1"> {{ object.user.username|upper}} </span> </p>
    <form method='post' class="flex gap-4">
        {% csrf_token %}
        <input type='submit'
            class="shadow-md shadow-gray-800 inline-flex space-y-3 p-1 text-slate-50 font-bold w-fit bg-red-800 ring ring-red-900 rounded-sm justify-center
        hover:ring hover:ring-red-950 my-2 hover:text-white border-b-2 border-b-transparent transition-colors duration-500 ease-out hover:border-b-white"
            value='Supprimer'>
        <a class="shadow-md shadow-gray-800 p-1 text-slate-50 font-bold w-fit bg-sky-800 ring ring-sky-900 rounded-sm mx-5 inline-flex justify-center
        hover:ring hover:ring-sky-950 my-2 hover:text-white border-b-2 border-b-transparent transition-colors duration-500 ease-out hover:border-b-white"
            href="{% url 'employee_list' %} "> Liste</a>

</div>

{% endblock main %}