{% extends 'base.html' %}


{% block main %}
<div class="w-full overflow-x-auto xl:w-4/5 mx-auto  glass shadow-md rounded p-6">
  <h1 class="text-2xl font-bold mb-6 inline-block dark:text-white">Liste des employés</h1>
  {% if "employees.add_employee" in permissions %}
  <a class="p-1 bg-blue-600 rounded-md space-x-4 inline-block text-white font-semibld ring ring-blue-900"
    href="{% url 'employee_add' %}">Ajouter</a>
  {% endif %}

  <table class="table  glass dark:text-white">
    <thead>
      <tr class="font-bold  dark:text-white">
        <th class="px-6 py-3 text-left text-sm uppercase tracking-wider">Utilisateur</th>
        <th class="px-6 py-3 text-left text-sm uppercase tracking-wider">Poste</th>
        <th class="px-6 py-3 text-left text-sm uppercase tracking-wider">Manager</th>
        <th class="px-6 py-3 text-left text-sm uppercase tracking-wider">Département</th>
        <th class="px-6 py-3 text-left text-sm uppercase tracking-wider">Date Embauche</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="">
      {% for employee in employees %}
      <tr>
        {% if 'Users.view_user' in permissions %}
        <td class="px-6 py-4 whitespace-nowrap"><a href="{{ employee.user.get_absolute_url }}">
            {{ employee.user.username }}</a></td>
        {% else %}
        <td class="px-6 py-4 whitespace-nowrap">{{ employee.user.username }}</td>
        {% endif %}
        <td class="px-6 py-4 whitespace-nowrap">{{ employee.poste }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
          {% if employee.manager %}
          {{ employee.manager.user.username }}
          {% else %} — {% endif %}
        </td>
        <td class="px-6 py-4 whitespace-nowrap"><a class="link"
            href="{{ employee.departement.get_absolute_url }}">{{employee.departement}}</a></td>
        <td class="px-6 py-4 whitespace-nowrap">{{ employee.date_embauche|date:"d/m/Y" }}</td>

        <td class="dropdown dropdown-bottom">
          <label tabindex=0 class="btn m-1">Actions</label>
          <ul tabindex=0
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 flrx flex-col gap-2">
            {% if "employees.delete_employee" in permissions %}
            <li>
              <a href="{% url 'employee_delete' employee.pk %} " class="btn btn-error">Supprimer</a>
            </li>
            {% endif %}
            {% if "employees.change_employee" in permissions %}
            <li>
              <a href="{% url 'employee_update' employee.pk %} " class="btn btn-warning">Modifier</a>
            </li>
            {% endif %}
            {% if "employees.view_employee" in permissions %}
            <li>
              <a href="{% url 'employee_profil' employee.pk %} " class="btn btn-info">Detail</a>
            </li>
            {% endif %}
          </ul>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="6" class="px-6 py-4 text-center text-red-500 text-2xl">Aucun employé trouvé.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination simple -->
  {% if is_paginated %}
  <div class="mt-4 flex justify-center space-x-2">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
      class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400">Précédent</a>
    {% endif %}

    <span class="px-3 py-1">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400">Suivant</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock main %}