
{% extends 'base.html' %}

{% load static %}


{% block main %}

{% block header %}
    {{ form.media }}
{% endblock %}
<div class="p-6 rounded shadow-md mx-auto w-3/4 card bg-base-300/40 glass">
  <h1 class="text-2xl font-bold mb-4 card-title text-slate-950 dark:text-zinc-50">Envoyer un message</h1>
<form class="w-full mx-auto flex flex-col space-y-2" method="post">
  {% csrf_token %}

  <div class="input w-full">
    <label>Sujet</label>
    {{ form.subject }}
  </div>
  <div class="select w-full">
    <label>Departement</label>
    {{ form.departement }}
  </div>
    {{ form.content_html }}   

  <button  class="btn btn-sm btn-outline btn-ghost btn-info" type="submit">Envoyer</button>
</form>
</div>
  
{% endblock %}
  